.bullet{
  width: 10px;
  height: 10px;
  position: absolute;
  background: red;
}

.shuttle{
  width: 130px;
  height: 130px;
  /*background-color: purple;*/
  position: absolute;
  top: 320px;
  left: 120px;
  background-image: url("../img/shuttle.png");
  background-size: contain;
  transform: rotate(330deg);
}

.rock{
  width: 30px;
  height: 30px;
  background-color: red;
  transform: rotate();
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  left: 0;

  /*display: inline-block;*/
}
/*Action of rotation of rocks*/
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.container{
  background-color: lightgray;
  width: 900px;
  height: 600px;
  text-align: center;
}

.players-board, .rocks-board {
  top: 25px;
  font-family: sans-serif;
  padding: 10px;
}

.welcome-menu{
  position: relative;
  margin: 50px;
  padding: 20px;
  background-color: green;
}

.shuttle-board h2{
  display: inline-block;
  font-weight: bold;
  font-family: sans-serif;
  padding: 15px;
}

.rocks-board{
  width: 200px;
  height: 600px;
  background-color: orange;
  position: absolute;
  left:28px;
}
.players-board{
  width: 200px;
  height: 600px;
  background-color: green;
  position: absolute;
  left:978px;
}

.game-board{
  background-image: url("../img/background/space-stars.png");
  background-size:contain;
  background-repeat: round;
  width: 500px;
  height: 500px;
  margin-left: 20px;
  overflow:hidden;
  position:absolute;
}

.welcome-menu button{
  margin: 30px;
  height: 50px;
}
