
.shuttle{
  width: 130px;
  height: 130px;
  background-color: purple;
  position: absolute;
  top: 320px;
  left: 120px;
  background-image: url("../img/shuttle.png");
  background-size: contain;
  transform: rotate(330deg);
}

.rock{
  width: 30px;
  height: 30px;
  background-color: red;
  transform: rotate();
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
  /*display: inline-block;*/
}
/*Action of rotation of rocks*/
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

.container{
  background-color: lightgray;
  width: 900px;
  height: 600px;
  text-align: center;
}

.welcome-menu{
  position: relative;
  margin: 50px;
  padding: 20px;
  background-color: green;
}

.game-board{
  background-color: lightgreen;
  width: 500px;
  height: 500px;
  margin-left: 20px;
  overflow:hidden;
  position:absolute;
}

.welcome-menu button{
  margin: 30px;
  height: 50px;
}
